.env
generate/generated/
generate/timeseries/
generate/timeseriesCompleted/
generate/processed_files.txt
generate/processed_generated.txt
processed_influx.txt
diplomamunka.code-workspace
continousLearning/household_power.txt
continousLearning/sarima_model.pkl
continousLearning/model_state.json
continousLearning/jpg
continousLearning/history.jsonl
continousLearning/model_params.pkl
continousLearning/model_params.txt
continousLearning/sarima_log.txt
continousLearning/state.json
continousLearning/forecast_plots
continousLearning/converter.py
continousLearning/household_power.csv
continousLearning/text_to_influx.py
continousLearning/influx_line_convert.py
continousLearning/household_power_consumption.lp
